{% load sekizai_tags cms_tags %}
{% load static %}
{% if not instance.hide %}
<!-- About -->
    <article id="about">
        <h2 class="major">{{ instance.major }}</h2>
        <p>{{ instance.description|safe }}</p>
        {% for plugin in instance.child_plugin_instances %}
            {% if not  plugin.hide %}
                {% render_plugin plugin %}
            {% endif %}
        {% endfor %}
        <p style="font-style:italic;">{{ instance.total }}</p>
    </article>
{% endif %}