<!-- Contact -->
    <article id="contact">
        <h2 class="major">Contact</h2>
        <form method="post" action="#">
        {% csrf_token %}
            <div class="field half first">
                <label for="name">Name</label>
                <input type="text" id="id_name" maxlength="64" name="name"  />
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input id="id_email" maxlength="255" name="email" type="text" />
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea id="id_message" name="message" rows="4"></textarea>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" class="special" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
        </form>
        {% comment %}  
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
        {% endcomment %}
    </article>