{% if not instance.hide %}
<!-- Intro -->
    <article id="intro">
        <h2 class="major">{{ instance.major }}</h2>
        {# {% thumbnail instance.image "200x200"  as thumb %} {{ thumb.url }}#}
        {% if instance.image %}
            <span class="image main"><img data-src="{{ instance.image.url }}" alt="" /></span>
        {% endif %}
        {{ instance.text|safe }}
    </article>
{% endif %}
