<div class='half'>
    {# {% thumbnail instance.image "200x200"  as thumb %} {{ thumb.url }}#}
    {% if instance.image %}
        <span class="image main"><img data-src="{{ instance.image.url }}" alt="" /></span>
    {% endif %}
    <h3>{{ instance.name }}</h3>
    <p>{{ instance.text }}</p>
</div>