{% load sekizai_tags cms_tags %}
<div class="slider">
	<ul class="slides">
   {% autoescape off %}
   {% for plugin in instance.child_plugin_instances %}
   {% render_plugin plugin %}
        {% comment %}
		<li>
			<figure>
				{% if image.url %}
                {{ image }}
                    <a href="{{ image.url }}"><img data-src="{{ PUBLIC_URL }}{% thumbnail image.image 1170x500 upscale crop %}" alt="{{ image.name }}" /></a>

                    <img data-src="{{ PUBLIC_URL }}{% thumbnail image.image 1170x500 upscale crop %}" alt="{{ image.name }}" />
                {% endif %}
			</figure>
		</li>
    {% endcomment %}
    {% endfor %}
    {% endautoescape %}
  </ul>
</div>

{% addtoblock "css" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/flexslider.min.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/jquery.flexslider-min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.slider').flexslider({
      animation: "slide"
      ,pauseOnAction: false
      ,pauseOnHover: true
      ,controlNav: false
    });
  });
</script>
{% endaddtoblock %}
