{% load sekizai_tags cms_tags %}
{% load static %}
{% if not instance.hide %}
<!-- Work -->
    <article id="work">
        <h2 class="major">>{{ instance.major }}</h2>
        {% for plugin in instance.child_plugin_instances %}
            {% if not  plugin.hide %}
                {% render_plugin plugin %}
            {% endif %}
        {% endfor %}
        <p style="font-style:italic;">{{ instance.total }}</p>
    </article>
{% endif %}