{% load thumbnail %}
     {# {% thumbnail instance.image "200x200"  as thumb %} {{ thumb.url }} #}
     {% if instance.title %}
         <h3 class="work_title">{{ instance.title }}</h3>
     {% endif %}
     {% if instance.image %}
    <a href="{{ instance.link }}" target="_blank"><span class="image main"><img data-src="{{ instance.image.url }}" alt="" /></span></a>
    {% endif %}
    {% for technology in instance.technologies.all %}
        {% if technology.logo %}
             <img class='technology_logo' src="{% thumbnail technology.logo '100x50' %}"/>
        {% else %}
            <span class="label label-default">{{ technology.name }}</span>
        {% endif %}
    {% endfor %}
    <p>{{ instance.text }}</p>
 